extends /layout/index.pug

append head
  title 企画案内|科学へのトビラ|東京理科大学みらい研究室
  link(rel='stylesheet', href='../../june.css')
  link(rel='stylesheet', href='./resource/lightbox.css', media='screen,tv')
  script(charset='UTF-8', src='./resource/lightbox_plus.js')

block path
  | ホーム >> イベント情報 >> みらい研究室 ～科学へのトビラ～ >> 企画案内

block article
  section
    h1 企画案内
    |           
    p.content_1
      | 下の画像をクリックすると大きな画像で見ることができます。
      br
      |  ※内容を予告なく変更することがあります。ご了承ください。
      |             
      br
      |  ※Ⅰ部Ⅱ部天文研究部の太陽観測は当日の天候により中止となる場合があります。
    |         
    |           
    a(href='./description/kikaku_01.jpg', rel='lightbox[set]')
      img(alt='kikaku_01', src=require('./description/kikaku_01_mini.jpg'))
    |           
    a(href='./description/kikaku_02.jpg', rel='lightbox[set]')
      img(alt='kikaku_02', src=require('./description/kikaku_02_mini.jpg'))
    |           
    a(href='./description/kikaku_03.jpg', rel='lightbox[set]')
      img(alt='kikaku_03', src=require('./description/kikaku_03_mini.jpg'))
    |           
    br
    br
    |           
    a(href='./description/kikaku_04.jpg', rel='lightbox[set]')
      img(alt='kikaku_04', src=require('./description/kikaku_04_mini.jpg'))
    |           
    a(href='./description/kikaku_05.jpg', rel='lightbox[set]')
      img(alt='kikaku_05', src=require('./description/kikaku_05_mini.jpg'))
    |           
    a(href='./description/kikaku_06.jpg', rel='lightbox[set]')
      img(alt='kikaku_06', src=require('./description/kikaku_06_mini.jpg'))
    |           
    br
    br
    |           
    a(href='./description/kikaku_07.jpg', rel='lightbox[set]')
      img(alt='kikaku_07', src=require('./description/kikaku_07_mini.jpg'))
    |           
    a(href='./description/kikaku_08.jpg', rel='lightbox[set]')
      img(alt='kikaku_08', src=require('./description/kikaku_08_mini.jpg'))
    |           
    a(href='./description/kikaku_09.jpg', rel='lightbox[set]')
      img(alt='kikaku_09', src=require('./description/kikaku_09_mini.jpg'))

prepend sidebar
  ul.color_june
    li
      a(href='index.html') イベント概要
    |             
    li
      a(href='about_june.html') ～科学へのトビラ～について
    |             
    li
      a(href='exhibition.html') 企画案内
    |             
    li
      a(href='lecture.html') 講演会
    |             
    li
      a(href='access.html') 会場アクセス
  //
    <nav class="sideNavi">
    <ul>
    <li><a href="../members/index.html">企画出展者向け<br>情報提供ページ</a></li>
    <li><a href="../for_freshman/index.html">新入生向けページ</a></li>
    </ul>
    </nav>
