doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(content='default-src \'self\' \'unsafe-inline\' https://cdnjs.cloudflare.com/ajax/libs/ https://www.google-analytics.com/',
         http-equiv='Content-Security-Policy')
    title 東京理科大学みらい研究室
    include /google_analytics.pug
    include /normalize-7.0.0.pug
    link(rel='stylesheet', href='common/layout.css')
    link(rel='stylesheet', href='slideshow.css')
    script(src='slideshow.js')
  body
    #page
      #page_head_back
        header#page_head
          .toptitle
            h1.toptitle1
              | 東京理科大学サイエンスフェア学生企画
              br
            h1.toptitle2 みらい研究室実行委員会
          div(style=`background-image: url(${require("./common/top/back.jpg")}); width: 1110px; height: 400px;`)
            p#slideshow
              img.active(src=require('./common/top/slide/3.jpg'), alt='画像１')
              img(src=require('./common/top/slide/2.jpg'), alt='画像２')
              img(src=require('./common/top/slide/1.jpg'), alt='画像３')
          nav.global_navi
            ul
              li
                a(href='index.html')
                  | ホーム
                  br
                  | HOME
              li
                a(href='event/index.html')
                  | イベント情報
                  br
                  | EVENT
              li
                a(href='contact/index.html')
                  | お問い合わせ
                  br
                  | CONTACT
              li
                a(href='link/index.html')
                  | リンク
                  br
                  | LINK
              li
                a(href='for_freshman/index.html')
                  | 新入生向けページ
                  br
                  | for Freshman
      #page_body
        .topic_path_back
          p.topic_path ホーム
        #page_body_main
          article
            section
              h1.pagetitle はじめに
              p(style='font-size: 25px; text-align: center;')
                | 「 理科が好き。だから、伝えたい。」
              p.content(style='margin-bottom: 1em;')
                | こんな思いを胸に科学啓発イベントを行う学生団体、
                br
                | みらい研究室実行委員会です。
              p.content(style='margin-bottom: 1em;')
                | 東京理科大学の学生が、小中学生に科学の楽しさを伝えるため、
                br
                | キャンパスを飛び出し科学体験イベントを開催しています。
                br
                | ぜひ、ご家族でご来場になってください。
              p.content みらい研究室実行委員一同、心よりお待ちしております。
            section(style='margin-top: 3em;')
              p.content
                | 私たちが主催するイベントは、１年を通して２つ！
                br
                | 下のアイコンをクリックしてみてください。
                br
                | イベントの詳しい情報が載ってます！
                br
              nav.event_navi
                ul
                  // <li class="color_june"><a href="./event/2017/event_june/index.html">2017年6月10,11日開催<br>-科学へのトビラ-</a></li>
                  // <li class="color_march"><a href="./event/2017/event_march/index.html">2017年3月4日開催<br>-オドロキ科学箱-</a></li>
                  li
                    a(href='./event/index.html') 過去のイベント情報はこちら
            section
              h1.pagetitle メールマガジン
              p
                | みらい研究室実行委員会では、無料メールマガジンに登録された読者のみなさんに、
                br
                | イベントの情報をお伝えするオフィシャルメルマガをお届けしています。
              p 登録はこちらから
              div(style='background-color: #ff5959; border: 3px #ff5959 solid; width: 230px; color: #fff; border-radius: 10px; margin: 10px auto;')
                a(href='https://docs.google.com/forms/d/1SxT0K75k7zmAiiIT_slalMUZn2I9Fw0931Ri1USYuO8/viewform',
                  style='display: block; background-color: inherit; text-decoration: none; font-size: 17px; font-weight: bold; padding: 15px 0; text-align: center; color: inherit;')
                  | メールマガジン登録
            section.news
              h1.pagetitle HP更新情報
              p
                | 現在このWebページは
                a(href='https://ja.wikipedia.org/wiki/Git') git
                | というバージョン管理システムで管理しているので、HP更新情報表は作成していません。
                br
                | commit log
                br
                a(href='https://github.com/miraiken/web/commits/master') https://github.com/miraiken/web/commits/master
                br
                | を御覧ください。
                br
                | 2015年以前の更新情報は
                a(href='web_update_log.html') こちら
        #page_body_sub
          include /side_navi_event.pug
      footer#page_foot
        p#copyright
          small
            | Copyright © #{lastModified.getFullYear()}
            | 東京理科大学みらい研究室～科学へのトビラ～ All rights reserved.
            | #{lastModified.toLocaleString("ja", {timeZone: "Asia/Tokyo"})}
