extends /layout/index.pug

prepend contentSecurityPolicy
  - var defaultSrc = ['\'unsafe-inline\'', 'https://*.twimg.com/', 'https://*.twitter.com/']
  - var imgSrc = ['https://*.twimg.com/', 'https://*.twitter.com/']

append head
  title 新入生向けページ | 東京理科大学みらい研究室
  link(rel='stylesheet', href='public_relations_department.css')
  script(async, src='https://platform.twitter.com/widgets.js')

prepend header
  - var active = 'for_freshmen'

block article
  h1 広報班
  section
    h2 活動内容
    div(style='display: flex; flex-wrap: wrap')
      div
        ul
          li ビラ・ポスター等のデザイン
          li アンケートの作成・解析
        p この他にもメルマガ配信やラジオ出演などの活動も!
      img(alt='2014年度 6月期表紙', width='290', src=require('./resource/2014年度 6月期表紙 (webに貼る用).png'))
  section
    h2 こんな人は大歓迎!
    p
      | デザイン出来る人、文章を書ける人、Webサイト運用企画に興味ある人大歓迎!
      | 初心者でも、デザインはやる気があれば大丈夫です! 一から教えます。
      | いろいろな技術を身につけることができます!
  section
    h2 過去の作品
    p 広報班が過去に作った物の一部を紹介します。
    #works.carousel.slide
      ol.carousel-indicators
        li.active(data-target='#works', data-slide-to='0')
        li(data-target='#works', data-slide-to='1')
        li(data-target='#works', data-slide-to='2')
        li(data-target='#works', data-slide-to='3')
        li(data-target='#works', data-slide-to='4')
      ul.carousel-inner
        li.carousel-item.active
          img(src=require("./resource/201406配布ビラ表.png"), alt='2014年度 6月期配布のビラ')
          p.carousel-caption.d-none.d-md-block 2014年6月配布のビラ。 #[a(href='./resource/201406配布ビラ表.pdf') PDF版]
        li.carousel-item
          img(src=require("./resource/2014年度 6月期表紙.png"), alt='2014年度 6月期パンフレット表紙')
          p.carousel-caption.d-none.d-md-block 2014年度 6月期パンフレット表紙。 #[a(href='./resource/2014年度 6月期表紙.pdf') PDF版]
        li.carousel-item
          img(src=require("./resource/201503 アンケート.png"), alt='2014年度 3月期アンケート')
          p.carousel-caption.d-none.d-md-block 2045年度3月期 アンケート。 #[a(href='./resource/2014年度3月期 アンケート 見やすくした.pdf') PDF版]
        li.carousel-item
          img(src=require("./resource/学内周知用ポスター-2014.png"), alt='学内周知用ポスター')
          p.carousel-caption.d-none.d-md-block 学内周知用ポスター。 #[a(href='./resource/学内周知用ポスター 2014.pdf') PDF版]
        li.carousel-item
          img(src=require("./resource/当日用ビラ 2014年度3月期.png"), alt='2014年度3月期 当日用ビラ')
          p.carousel-caption.d-none.d-md-block 2014年度3月期 当日用ビラ。 #[a(href='./resource/当日用ビラ 2014年度3月期.pdf') PDF版]
      a.carousel-control-prev(href='#works', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only 前へ
      a.carousel-control-next(href='#works', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only 次へ
  section
    h2 Webサイト制作
    p
      | 広報班と東京理科大学のサークル、
      a(href='https://kagucho.net/') 神楽坂一丁目通信局
      | は共同でWebサイトを制作しています。Webサイト制作に興味のある方は神楽坂一丁目通信局にも是非お越しください。

prepend sidebar
  ul.layout_sidebar.nav.flex-column.nav-pills(style='margin-bottom: auto; padding: 1rem; position: sticky; top: 1rem')
    li
      a.nav-link(href='.') 新歓TOP
    li
      a.nav-link(href='planning_department.html') 企画班
    li
      a.nav-link.active(href='public_relations_department.html') 広報班
    li
      | 最新のイベント情報をチェック!
      | Twitterでフォローしよう
      a.twitter-follow-button(data-show-count='false', data-size='large', href='https://twitter.com/_miraiken_')
        | @_miraiken_ をフォロー
