extends /layout/index.pug

prepend contentSecurityPolicy
  - var defaultSrc = ['\'unsafe-inline\' https://openclipart.org/image/300px/svg_to_png/']
  - var connectSrc = []

append head
  title 新入生向けページ|東京理科大学みらい研究室
  link(crossorigin='anonymous',
       href='https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe.min.css',
       integrity='sha384-h/L2W9KefUClHWaty3SLE5F/qvc4djlyR4qY3NUV5HGQBBW7stbcfff1+I/vmsHh',
       rel='stylesheet')
  link(crossorigin='anonymous',
       href='https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/default-skin/default-skin.min.css',
       integrity='sha384-iD0dNku6PYSIQLyfTOpB06F2KCZJAKLOThS5HRe8b3ibhdEQ6eKsFf/EeFxdOt5R',
       rel='stylesheet')
  script(crossorigin='anonymous',
         integrity='sha384-QELNnmcmU8IR9ZAykt67vGr9/rZJdHbiWi64V88fCPaOohUlHCqUD/unNN0BXSqy',
         src='https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe.min.js')
  script(crossorigin='anonymous',
         integrity='sha384-m67o7SkQ1ALzKZIFh4CiTA8tmadaujiTa9Vu+nqPSwDOqHrDmxLezTdFln8077+q',
         src='https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe-ui-default.min.js')

prepend header
  - var active = 'for_freshmen'

block article
  h1 広報班
  section
    div(style='width:400px; margin-left:0px; display:inline-block; vertical-align:top;')
      h2 活動内容
      ul
        li ビラ・ポスター等のデザイン
        li HP管理
        li アンケートの作成・解析
      p この他にもメルマガ配信やラジオ出演などの活動も！
    div(style='display:inline-block;')
      img(style='margin-left:0px;', alt='2014年度　6月期表紙（webに貼る用））', width='290', src=require('./resource/2014年度　6月期表紙（webに貼る用））　.png'))
  section
    h2 こんな人は大歓迎！
    p
      | デザイン出来る人、文章を書ける人、プログラミングやＨＰ作成に興味ある人大歓迎！
      br
      | 初心者でも、デザインはやる気があれば、
      br
      | HP作成は中学までの四則演算と
      b ド・モルガンの法則
      | がわかれば大丈夫です！
      br
      | 一から教えます。
      br
      | いろいろな技術を身につけることができます！
    img(width='150', alt='HTML-Icon-Final', src='https://openclipart.org/image/300px/svg_to_png/69331/HTML-Icon-Final.png')
    img(width='150', alt='simplePc', src='https://openclipart.org/image/300px/svg_to_png/174173/simplePc.png')
    img(width='150', alt='1397134150', src='https://openclipart.org/image/300px/svg_to_png/192640/1397134150.png')
  section
    h2 過去の作品
    p 広報班が過去に作った物の一部を紹介します。
    div(style='position: relative; height: 400px;')
      .pswp(tabindex='-1', role='dialog', aria-hidden='true')
        .pswp__bg
        .pswp__scroll-wrap
          .pswp__container
            .pswp__item
            .pswp__item
            .pswp__item
          .pswp__ui.pswp__ui--hidden
            .pswp__top-bar
              .pswp__counter
              button.pswp__button.pswp__button--close(title='Close (Esc)')
              button.pswp__button.pswp__button--share(title='Share')
              button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
              button.pswp__button.pswp__button--zoom(title='Zoom in/out')
              .pswp__preloader
                .pswp__preloader__icn
                  .pswp__preloader_cut
                    .pswp__preloader__donut
            .pswp__share-modal.pswp__share-modal--hidden.pswp__single_tap
              .pswp__share-tooltip
            button.pswp_button.pswp__button--arrow--left(title='Previous (arrow left)')
            button.pswp_button.pswp__button--arrow--right(title='Next (arrow right)')
            .pswp__caption
              .pswp__caption__center
    script.
      (new PhotoSwipe(document.getElementsByClassName("pswp")[0],
              PhotoSwipeUI_Default,
              [
                {
                  src: !{JSON.stringify(require("./resource/201406配布ビラ表.png"))},
                  w: 561,
                  h: 400,
                  title: "201406配布ビラ。<a href='./resource/201406配布ビラ表.pdf'>pdf版</a>",
                }, {
                  src: !{JSON.stringify(require("./resource/2014年度　6月期表紙.png"))},
                  w: 561,
                  h: 400,
                  title: "2014年度　6月期パンフレット表紙。<a href='./resource/2014年度　6月期表紙　.pdf'>pdf版</a>",
                }, {
                  src: !{JSON.stringify(require("./resource/201503 アンケート.png"))},
                  w: 561,
                  h: 400,
                  title: "2014年度3月期　アンケート。<a href='./resource/2014年度3月期　アンケート　見やすくした.pdf'>pdf版</a>",
                }, {
                  src: !{JSON.stringify(require("./resource/学内周知用ポスター-2014.png"))},
                  w: 561,
                  h: 400,
                  title: "学内周知用ポスター。<a href='./resource/学内周知用ポスター 2014.pdf'>pdf版</a>",
                }, {
                  src: !{JSON.stringify(require("./resource/当日用ビラ　2014年度3月期.png"))},
                  w: 561,
                  h: 400,
                  title: "当日用ビラ　2014年度3月期。<a href='./resource/当日用ビラ　2014年度3月期.pdf'>pdf版</a>",
                },
              ], {
                modal: false,
                closeOnScroll: false,
                focus: false,
              })).init();

prepend sidebar
  nav.side_nav
    ul
      li.top
        a(href='index.html') 新歓TOP
      // <li><a href="general_affairs_department.html">総務版</a></li>
      li
        a(href='planning_department.html') 企画班
      li
        a(href='public_relations_department.html') 広報班
