doctype html
html(lang='ja')
  head
    block contentSecurityPolicy
      - var defaultSrc
      - var connectSrc
      if defaultSrc !== undefined && connectSrc !== undefined
        - defaultSrc.unshift('default-src \'self\' https://cdnjs.cloudflare.com/ajax/libs/ https://www.google-analytics.com/')
        if devServer
          - connectSrc.push('*')
        - connectSrc.unshift('connect-src')
        meta(content=`${defaultSrc.join(' ')}; ${connectSrc.join(' ')}`,
             http-equiv='Content-Security-Policy')
    block head
      include /google_analytics/index.pug
      link(crossorigin='anonymous',
           rel='stylesheet',
           href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css',
           integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u')
      link(rel='stylesheet', href='/web/common/layout.css')
      meta(charset='UTF-8')
      meta(content='initial-scale=1', name='viewport')
      script(crossorigin='anonymous',
             integrity='sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f',
             src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
      script(crossorigin='anonymous', defer,
             integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa',
             src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
  body
    header
      p.layout_top_captions_subtitle 東京理科大学サイエンスフェア学生企画
      h1.layout_top_captions_title
        img(alt='ロゴ', src=require('miraiken/common/layout/door.jpg'))
        | みらい研究室実行委員会
      block header
        - var active
        nav.navbar.navbar-default
          .container-fluid
            .navbar-header
              button.navbar-toggle.collapsed(aria-expanded='false', data-target='#layout_header_navbar_collapse' data-toggle='collapse', type='button')
                span.sr-only 目次を開閉する
                span.icon-bar
                span.icon-bar
                span.icon-bar
            #layout_header_navbar_collapse.collapse.navbar-collapse
              ul.nav.navbar-nav
                li(class=active === 'home' && 'active')
                  a(href='/web/')
                    div
                      | ホーム
                      br
                      | Home
                li(class=active === 'event' && 'active')
                  a(href='/web/event/')
                    div
                      | イベント情報
                      br
                      | Event
                li(class=active === 'contact' && 'active')
                  a(href='/web/contact/')
                    div
                      | お問い合わせ
                      br
                      | Contact
                li(class=active === 'links' && 'active')
                  a(href='/web/links/')
                    div
                      | リンク
                      br
                      | Links
                li(class=active === 'for_freshmen' && 'active')
                  a(href='/web/for_freshmen/')
                    div
                      | 新入生向けページ
                      br
                      | For Freshmen
    block eyecatcher
    .layout_body
      main
        article
          block article
      nav
        block sidebar
          ul
            li
              a(href='/web/event/') 過去のイベント情報はこちら
    footer
      p
        small
          | Copyright © #{lastModified.getFullYear()}
          | 東京理科大学みらい研究室 ～科学へのトビラ～ All rights reserved.
          | #{lastModified.toLocaleString("ja", {timeZone: "Asia/Tokyo"})}.
          | このWebサイトは#[a(href='/web/kagucho.html') 神楽坂一丁目通信局]が作成, 管理を受託されています.
