doctype html
html(lang='ja')
  head
    block contentSecurityPolicy
      - var defaultSrc
      - var connectSrc
      - var imgSrc
      if defaultSrc !== undefined && connectSrc !== undefined
        - defaultSrc.unshift('default-src \'self\' https://cdnjs.cloudflare.com/ajax/libs/ https://www.google-analytics.com/')
        if devServer
          - connectSrc.push('*')
        - connectSrc.unshift('connect-src')
        if imgSrc === undefined
          - imgSrc = []
        - imgSrc.unshift('img-src \'self\' data: https://www.google-analytics.com/')
        meta(content=`${defaultSrc.join(' ')}; ${connectSrc.join(' ')}; ${imgSrc.join(' ')}`,
             http-equiv='Content-Security-Policy')
    block head
      include /google_analytics/index.pug
      link(crossorigin='anonymous',
           rel='stylesheet',
           href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css',
           integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T')
      link(rel='stylesheet', href='/web/common/layout.css')
      meta(charset='UTF-8')
      meta(content='initial-scale=1', name='viewport')
      script(crossorigin='anonymous',
             integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo',
             src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js')
      script(crossorigin='anonymous'
             integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1'
             src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
      script(crossorigin='anonymous', defer,
             integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM',
             src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js')
  body
    .layout_fill
      header
        p.layout_top_captions_subtitle 東京理科大学サイエンスフェア学生企画
        h1.layout_top_captions_title
          img(alt='ロゴ', src=require('miraiken/common/layout/door.jpg'))
          | みらい研究室実行委員会
        block header
          - var active
          nav.bg-light.border-top.navbar.navbar-expand-lg.navbar-light
            button.navbar-toggler(aria-controls='layout_header_navbar_collapse', aria-expanded='false', aria-label='目次を開閉する', data-target='#layout_header_navbar_collapse' data-toggle='collapse', type='button')
              span.navbar-toggler-icon
            #layout_header_navbar_collapse.collapse.navbar-collapse
              ul.navbar-nav
                li.nav-item(class=active === 'home' && 'active')
                  a.nav-link(href='/web/')
                    div
                      | ホーム
                      br
                      | Home
                li.nav-item(class=active === 'event' && 'active')
                  a.nav-link(href='/web/event/')
                    div
                      | イベント情報
                      br
                      | Event
                li.nav-item(class=active === 'contact' && 'active')
                  a.nav-link(href='/web/contact/')
                    div
                      | お問い合わせ
                      br
                      | Contact
                li.nav-item(class=active === 'links' && 'active')
                  a.nav-link(href='/web/links/')
                    div
                      | リンク
                      br
                      | Links
                li.nav-item(class=active === 'for_freshmen' && 'active')
                  a.nav-link(href='/web/for_freshmen/')
                    div
                      | 新入生向けページ
                      br
                      | For Freshmen
      block eyecatcher
      .layout_body_wrapper
        .layout_body
          main
            article
              block article
          block sidebar
    footer
      p
        small
          | Copyright © #{lastModified.getFullYear()}
          | 東京理科大学みらい研究室 ～科学へのトビラ～ All rights reserved.
          | #{lastModified.toLocaleString("ja", {timeZone: "Asia/Tokyo"})}.
          | このWebサイトは#[a(href='/web/kagucho.html') 神楽坂一丁目通信局]が作成, 管理を受託されています.
